@media screen and (min-width: 1280px) and (orientation: landscape) {
    
    body {
        background-color: #141414;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: bold;
        cursor: default;
        user-select: none;
    }

    #background-video {
        top: 0%;
        width: 100%;
        height: 100%;
    }

    #section-1 {
        width: 100%;
        height: 100%;
        min-height: 720px;
        max-height: 900px;
        top: 0%;
        left: 0%;
    }

    #sec1-container {
        height: 50%;
    }
    
    #sec1h1 { 
        font-weight: 400;
        font-size: 0.9vw;
        letter-spacing: 4px;
        top: 0%;
        left: 50%;
        transform: translate(-50%);
    }
    
    #sec1h2 {
        font-weight: 600;
        font-size: 7vw;
        letter-spacing: -4px;
        top: -70px;
        left: 50%;
        transform: translate(-50%);
    }
    
    #sec1h3 {
        font-weight: 600;
        font-size: 7vw;
        letter-spacing: -4px;
        top: -190px;
        left: 50%;
        transform: translate(-50%);
    }
    
    #sec1h4 {
        font-weight: 600;
        font-size: 7vw;
        letter-spacing: -4px;
        top: -310px;
        left: 50%;
        transform: translate(-50%);
    }
    
    #sec1h5 {
        font-weight: 600;
        font-size: 7vw;
        letter-spacing: -4px;
        top: -430px;
        left: 50%;
        transform: translate(-50%);
    }

    .fa-github {
        font-size: 2vw;
        left: 40px;
        top: 84%;
        z-index: 2;
        visibility: visible;
    }

    .fa-github:hover {
        transform: translateY(-10px);
    }

    .fa-linkedin {
        font-size: 2vw;
        left: 40px;
        top: 90%;
        z-index: 2;
        visibility: visible;
    }

    .fa-linkedin:hover {
        transform: translateY(-10px);
    }

    #section-2 {
        width: 100%;
        height: 100%;
        min-height: 720px;
        max-height: 900px;
        left: 0%;
        top: 0%;
    }

    #sec-2-row {
        position: absolute;
        top: 12.5%;
        height: 75%;
        width: 80%;
        left: 0%;
        transform: translate(0%, 0%);
    }    

    #sec2h1 {
        top: 80px;
        left: 15%;
        font-size: 0.8vw;
        font-weight: 600;
        letter-spacing: 5px;
        transform: translate(0%);
    }

    #sec2p1 {
        top: 80px;
        left: 15%;
        font-size: 3.8vw;
        font-weight: 600;
        letter-spacing: -3px;
        line-height: 1.08;
        text-align: unset;
    }

    #sec2-span1::after {
        left: 0;
        top: 13px;
    }

    #port-pic-container {
        height: 180px;
        width: 180px;
        top: 500px;
        left: 50%;
        transform: translate(130%);
    }

    #port-pic {
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }

    #port-pic:hover {
        transform: translate(10%, 10%);
    }

    #port-pic-back {
            height: 100%;
            width: 100%;
            top: 0%;
            right: 0%;
            z-index: -1;
    }

    #port-pic:hover #port-pic-back {
        transform: translate(-20%, -20%);
    }

    #port-pic:before {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #left-pic {
        width: 108%;
        top: 45%;
        left: -54%;
        transform: rotate(90deg);
    }

    #right-pic {
        width: 108%;
        top: 45%;
        right: -54%;
        transform: rotate(90deg);
    }

    #top-pic {
        width: 110%;
        top: -4%;
        right: -5%;
    }

    #bottom-pic {
        width: 110%;
        top: 94%;
        right: -5%;
    }

    #section-3 {
        width: 100%;
        height: 100%;
        min-height: 720px;
        max-height: 900px;
        left: 0%;
        top: 200%;
    }

    #sec3-h1 {
        top: 0px;
        left: 50%;
        transform: translate(-50%);
        font-size: 0.8vw;
        font-weight: 500;
        letter-spacing: 5px;
    }

    .skill-blocks-container-1 {
        width: 100%;
        margin-top: 20px;
        top: 100px;
        }

    .skill-blocks-container-2 {
        width: 100%;
        margin-top: 20px;
        top: 280px;
        }

    .skill-blocks {
        width: 220px;
        height: 140px;
        border-radius: 10px;
        perspective: 1000px;
        margin: 0 10px; /* Adds space between skill blocks */
    }

    .skill-block-inner {
        width: 100%;
        height: 100%;
    }

    .skill-blocks:hover .skill-block-inner {
        transform: rotateY(180deg);
    }

    .skill-block-front, .skill-block-back {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .skill-block-front {
        border: #b7ab98 1px solid;
    }

    .skill-block-back h1, .skill-block-back p {
        width: 100%;
        margin: 0;
    }

    .skill-block-back h1 {
        top: 10px;
        font-size: 1.4vw;
    }

    .skill-block-back p {
        bottom: 35px;
        font-size: 0.8vw;
    }

    /* Progress bar container */
    .progress-bar {
        width: 80%;
        height: 10px;
        border-radius: 10px;
        top: 80%;
        left: 10%;
    }

    /* Animated progress fill */
    .progress {
        width: 0%; /* Initial width for animation */
        border-radius: 10px;
    }

    #sec3-switching-button {
        top: 550px;
        left: 50%;
        transform: translate(-50%);
        font-size: 0.7vw;
        border: #b7ab98 solid 1px;
        border-radius: 8px;
        padding: 5px;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 600;
        letter-spacing: 2px;

    }

    .skill-blocks-container-2-1 {
        width: 100%;
        margin-top: 20px;
        top: 120px;
        }

    .skill-blocks-container-2-2 {
        width: 100%;
        margin-top: 20px;
        top: 300px;
        }

    .skill-blocks {
        width: 220px;
        height: 140px;
        border-radius: 10px;
        perspective: 1000px;
        margin: 0 10px; /* Adds space between skill blocks */
    }

    #section-4 {
        width: 100%;
        height: 100%;
        min-height: 720px;
        max-height: 900px;
        left: 0%;
        top: 300%;
    }

    #sec4-h1 {
        top: 0%;
        left: 15%;
        font-size: 0.8vw;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 5px;
        transform: translate(0%);
    }

    #sec4-p1 {
        top: -5%;
        left: 15%;
        font-size: 3.8vw;
        font-weight: 600;
        width: 70%;
        letter-spacing: -3px;
        line-height: 1.15;
        text-align: unset;
        transform: translate(0%, 0%);
    }

    #sec4-span1::after {
        left: 0;
        top: 7px;
    }

    #sec4-span2::after {
        left: 0;
        top: 7px;
    }

    #section-5 {
        width: 100%;
        height: 100%;
        min-height: 720px;
        max-height: 900px;
        left: 0%;
        top: 400%;
    }

    #section-6 {
        width: 100%;
        height: 100%;
        min-height: 720px;
        max-height: 900px;
        left: 0%;
        top: 500%;
    }

    #sec6-h1 {
        top: 40px;
        left: 15%;
        font-size: 0.8vw;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 5px;
    }

    #sec6-h2 {
        top: 60px;
        left: 50%;
        transform: translate(-50%);
        font-size: 3.6vw;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 5px;
        z-index: 6;
    }

    #sec6-button1 {
        top: 70%;
        left: 50%;
        transform: translate(-50%);
        font-size: 0.7vw;
        border: #b7ab98 solid 1px;
        border-radius: 8px;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 4px;
    }

    .sec6-container {
        height: 320px;
        width: 600px;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 40%;
        border-radius: 8px;
    }


    #sec6-con-cover {
        height: 100%;
        width: 100%;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 8px;
        border: #b7ab98 1px solid;
    }

    #sec6-p1 {
        top: 80%;
        left: 50%;
        transform: translate(-50%);
        font-size: 0.7vw;
        font-weight: 500;
        letter-spacing: 1px;
    }
}